In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("strategy_results_train.xlsx")

In [3]:
data.head()

,id,label,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,SHSE.600085_201501,0,2014-12-30,20.900000,22.090000,20.799999,22.049999,25457468.0,21.291999,21.369,21.636000,28.423399,67.422912,62.068021,21.407097,0.980000,214347329.0,21.360897
1,SHSE.600085_201502,1,2015-01-30,22.990000,23.190001,22.510000,22.580000,7880595.0,23.320000,23.386,23.590000,22.025821,33.069972,44.368000,23.317924,-0.860001,209047450.0,23.367436
2,SHSE.600085_201503,1,2015-02-27,22.520000,22.670000,22.400000,22.540001,9263796.0,22.442000,22.106,22.165333,27.777632,57.292366,51.227905,22.342307,0.610001,205917884.0,22.227436
3,SHSE.600085_201504,1,2015-03-30,26.219999,26.440001,25.820000,26.230000,16125626.0,26.378000,25.148,24.380667,31.111115,73.065077,71.193802,25.102347,1.770000,392580996.0,25.494102
4,SHSE.600085_201505,1,2015-04-29,32.580002,33.639999,32.279999,33.180000,13959795.0,32.888000,32.902,32.436000,48.542510,60.800069,65.253112,32.309630,-0.349998,682246566.0,32.908205

In [4]:
data2 = pd.concat( [data.iloc[:, 1], data.iloc[:, 8:]], axis=1)

In [5]:
data2.head()

,label,6,7,8,9,10,11,12,13,14,15
0,0,21.291999,21.369,21.636000,28.423399,67.422912,62.068021,21.407097,0.980000,214347329.0,21.360897
1,1,23.320000,23.386,23.590000,22.025821,33.069972,44.368000,23.317924,-0.860001,209047450.0,23.367436
2,1,22.442000,22.106,22.165333,27.777632,57.292366,51.227905,22.342307,0.610001,205917884.0,22.227436
3,1,26.378000,25.148,24.380667,31.111115,73.065077,71.193802,25.102347,1.770000,392580996.0,25.494102
4,1,32.888000,32.902,32.436000,48.542510,60.800069,65.253112,32.309630,-0.349998,682246566.0,32.908205

In [6]:
data2.isnull().any()

label    False
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
dtype: bool

In [7]:
data2 = data2.dropna(axis = 0)
data2.isnull().any()

label    False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
dtype: bool

In [8]:
y = data2["label"]
y

0     0
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     0
9     0
10    1
11    1
12    0
13    0
14    1
15    0
16    1
17    1
18    1
19    0
20    1
21    1
22    0
23    0
24    0
25    0
26    1
27    0
28    0
29    1
30    0
31    0
32    1
33    1
34    1
35    1
36    1
37    0
38    1
39    1
40    1
41    0
42    1
43    0
44    1
45    0
46    1
47    0
Name: label, dtype: int64

In [9]:
X = data2.iloc[:, 1:]

In [10]:
X

,6,7,8,9,10,11,12,13,14,15
0,21.291999,21.369000,21.636000,28.423399,67.422912,62.068021,21.407097,0.980000,2.143473e+08,21.360897
1,23.320000,23.386000,23.590000,22.025821,33.069972,44.368000,23.317924,-0.860001,2.090474e+08,23.367436
2,22.442000,22.106000,22.165333,27.777632,57.292366,51.227905,22.342307,0.610001,2.059179e+08,22.227436
3,26.378000,25.148000,24.380667,31.111115,73.065077,71.193802,25.102347,1.770000,3.925810e+08,25.494102
4,32.888000,32.902000,32.436000,48.542510,60.800069,65.253112,32.309630,-0.349998,6.822466e+08,32.908205
5,37.378001,34.734000,33.891333,32.653646,73.762597,70.424954,35.131711,5.250000,8.092129e+08,35.576923
6,37.439999,38.791999,39.765333,33.289391,21.599461,33.129827,38.237051,-4.379997,8.588816e+08,38.072820
7,29.240000,29.739000,29.284667,21.477126,51.021826,47.529302,29.458718,-1.610001,8.473229e+08,29.522692
8,23.559999,26.362000,27.796000,22.404229,43.369285,40.652926,26.229776,-1.880001,9.069366e+08,25.556923
9,23.284000,23.422000,23.625333,27.505862,28.319348,36.097841,23.478289,-1.500000,8.554653e+08,23.307821
10,26.274000,25.993000,25.780000,24.645678,45.055123,51.429501,25.777940,-1.240000,9.156089e+08,26.066154
11,26.608000,26.785000,26.861333,23.879556,28.615531,41.550616,26.646305,-1.960001,9.623548e+08,26.729103
12,39.578000,39.498000,37.769333,54.106267,69.853999,71.497639,38.396044,-0.600002,1.309681e+09,39.561538
13,28.922000,30.009000,30.686000,26.223508,42.063112,41.191298,30.338135,-0.290001,1.355512e+09,29.591923
14,29.894000,30.629000,30.144666,16.546716,28.000779,38.999465,30.066277,-2.599998,1.339749e+09,30.244359
15,29.262000,29.175000,28.752666,12.873212,70.944365,60.845100,29.117117,1.619999,1.402266e+09,29.218974
16,27.884000,28.243000,28.801333,18.335963,30.076122,36.868919,28.389333,-0.449999,1.346549e+09,28.149615
17,26.918000,27.101000,27.326000,15.236543,26.138951,34.246952,27.187160,-0.380001,1.311139e+09,27.042179
18,28.312000,27.744000,27.563333,15.955332,71.702179,65.927503,27.988185,1.980000,1.341777e+09,28.011282
19,31.564000,31.434000,31.852000,39.211466,63.080190,61.384711,31.504730,0.869999,1.429028e+09,31.538333
20,30.910000,31.355000,31.340667,24.119973,43.169543,47.229677,31.165715,-0.920000,1.445661e+09,31.209231
21,30.648000,30.721000,30.790667,11.705616,43.470100,45.265548,30.733848,-0.540001,1.463601e+09,30.689103
22,31.816000,31.413000,31.313333,15.415176,56.068942,56.688648,31.450891,0.680000,1.462591e+09,31.531026
23,34.025999,33.123000,32.594666,29.958861,74.584598,71.873212,33.203209,1.959999,1.480324e+09,33.445128
24,31.120000,31.279000,31.329333,15.136764,51.154162,45.828980,31.377745,-0.130001,1.460320e+09,31.228974
25,30.360000,30.190000,30.355333,19.497723,52.434283,43.893759,30.395123,0.369999,1.478406e+09,30.250000
26,30.798000,30.641000,30.552667,15.589490,44.597834,48.420117,30.635197,-0.170000,1.483527e+09,30.682820
27,31.980000,32.077000,31.873333,25.705568,33.966161,45.896824,31.844843,-1.490002,1.491266e+09,32.043590
28,31.516000,31.802000,31.587333,15.105416,32.747780,41.443289,31.618867,-1.510000,1.507700e+09,31.694872
29,32.132000,31.790000,31.504667,15.304270,59.932654,57.930269,31.768059,0.350000,1.556173e+09,31.867180
30,35.078000,34.200000,33.921333,35.759956,60.599907,62.378832,34.234146,1.020000,1.607130e+09,34.470897
31,32.864001,32.851001,33.125334,20.824684,40.865601,42.948351,33.048218,-0.190002,1.607803e+09,32.889488
32,32.162001,32.362001,32.386667,16.265033,45.970393,45.121621,32.324232,0.090000,1.596957e+09,32.297565
33,32.050000,31.759000,31.688000,25.161763,74.765987,61.680032,31.872505,1.090000,1.604485e+09,31.848333
34,34.066000,33.777000,33.420667,41.734075,71.225451,69.531441,33.635386,0.420002,1.644512e+09,33.861794
35,33.216000,34.013000,34.036000,27.672501,23.942044,35.835378,33.727581,-2.889999,1.644340e+09,33.753589
36,32.152000,32.249000,32.332000,19.566771,48.284575,44.159011,32.299255,0.030003,1.660158e+09,32.216282
37,34.348000,34.283000,33.917333,28.640466,46.229753,52.368086,34.044603,-0.770000,1.711277e+09,34.264487
38,32.636000,32.444000,32.734667,26.521500,53.790492,47.730408,32.736593,0.689999,1.688911e+09,32.519872
39,34.076000,33.996000,33.760667,15.310370,68.207829,63.209645,33.851658,1.270000,1.716295e+09,33.982180
40,34.244001,35.087001,35.810001,18.948350,57.211562,53.453882,35.052157,0.410000,1.762112e+09,34.874104
41,40.556000,40.505000,40.106667,44.480751,41.959746,51.129288,40.027966,-1.050003,1.813590e+09,40.510897
42,35.743999,36.407000,36.938000,21.633344,32.893016,36.539172,36.512418,-2.040001,1.767140e+09,36.194231
43,34.542000,35.072000,35.262666,23.823308,23.636241,33.974426,34.920907,-1.329998,1.761601e+09,34.900513
44,31.744001,30.963000,31.202000,40.903482,48.908838,44.946516,31.432803,0.880001,1.760598e+09,31.238975
45,31.234000,30.579000,30.376000,31.575474,75.521047,60.543133,30.848167,1.450001,1.762741e+09,30.818461
46,28.924000,28.946000,29.100000,28.115951,35.496344,39.559308,29.080373,-1.530001,1.752042e+09,28.937179
47,29.246000,29.673000,29.682000,14.969036,32.004537,42.207317,29.485705,-1.170000,1.759343e+09,29.522949

In [11]:
X = X.dropna(axis = 0)

In [12]:
X.isnull().any()

6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
dtype: bool

In [13]:
X.shape

(48, 10)

In [14]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X, y)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [15]:
testdata = pd.read_excel("sampleSubmission1.xlsx")

In [16]:
testdata = testdata.fillna(0)
testdata.isnull().any()

id       False
label    False
5ma      False
10ma     False
15ma     False
ADX      False
RSI      False
RSI.1    False
EMA      False
MOM      False
OBV      False
WMA      False
dtype: bool

In [17]:
testdata.iloc[:, 2:]

,5ma,10ma,15ma,ADX,RSI,RSI.1,EMA,MOM,OBV,WMA
0,27.258000,27.573000,28.198000,27.608849,43.920689,40.625362,27.787637,0.670000,1.750767e+09,27.480000
1,26.624000,26.698000,26.724667,25.366484,36.866876,40.757919,26.710142,-0.440001,1.749798e+09,26.689359
2,28.890000,28.863000,28.408667,29.331745,61.148764,61.534538,28.616598,0.840000,1.751279e+09,28.883590
3,29.532000,30.037000,30.157333,26.242291,51.549343,52.094692,29.873767,-0.139999,1.794765e+09,29.864359
4,31.514000,32.125000,32.192000,31.099914,35.287002,45.438618,31.725894,-1.560001,1.830565e+09,31.852308
...,...,...,...,...,...,...,...,...,...,...
11358,86.210001,86.955000,86.357333,33.722088,35.912823,48.286036,85.803660,-3.099998,2.842802e+07,86.580898
11359,77.136000,80.214001,82.662001,28.531166,25.796770,32.435054,80.389624,-3.040001,1.586700e+07,79.330001
11360,70.966000,71.855001,72.971334,36.014725,53.018605,42.400916,72.366637,0.650002,8.610387e+06,71.671539
11361,82.976001,79.619000,77.530667,29.685040,65.575880,65.892395,79.761202,5.570000,2.877539e+07,80.772821
11362,81.462000,82.899000,84.118667,23.342904,41.500225,46.987132,82.783940,-1.650002,1.142366e+07,82.467307

In [18]:
result = clf.predict(testdata.iloc[:, 2:])

In [19]:
pd.DataFrame(result).to_excel("prediction12.xlsx", index=False)